*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    max-width: 100vw;
    font-size: 62.5%;
}
body{
    box-sizing: border-box;
    font-size: 1.6rem;
    height: 100vh;
}
​
​
header{
    margin-top: 2rem;
    display:flex;
    justify-content: space-around;
}
.time{
    font-size: 2rem;
}
main {
    max-width: 80rem;
    margin: 5rem auto;
    text-align: center;
    padding: 1rem;
}
.description{
    margin-bottom: 2rem;
}
.quiz__title{
    padding-bottom: 1rem;
}
#scores__ranking,
.quiz__choices{
    display:inline-flex;
    flex-direction: column;
}
.choiceBtn {
    margin: .5rem 0;
    text-align: left;
}
#scores__ranking > p {
    text-align: left;
}
#result{
    display:none;
}
#scores{
    display:none;
}
#verdict{
    opacity: 0;
    color: orangered;
}
input{
    padding: .5rem;
    margin-right: 1rem;
}
​
​
.btn{
    font-size: 1.6rem;
}
​
@media screen and (max-width: 460px){
    .scores__btn{
        display: flex;
        flex-direction: column;
        margin: 0 3rem;
    }
    header{
        flex-direction: column;
        text-align: center;
        margin: 0 3rem;
    }
    main{
        margin-top: 1rem;
    }
    #initials{
        margin-bottom: 1rem;
    }
}